<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Codebro CRM</ion-title>




    <ion-buttons slot="start">
      <ion-button routerLinkActive="activeHighlight" *ngFor="let p of appPages" [routerDirection]="'root'"
        [routerLink]="[p.url]">
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-button>
    </ion-buttons>








    <ion-buttons slot="end">

      <ion-button fill="clear" (click)="gtChat()">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="openProfile()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu side="end" type="overlay" menuId="profile">
  <ion-content>
    <ion-list lines="none">
      <ion-item>
        <p slot="end"> {{user.name}}</p>
      </ion-item>
      <ion-item>
        <p slot="end"> {{user.email}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-button (click)="signOut()" color="danger" expand="full">
      <ion-icon name="exit" class="ion-margin-end"></ion-icon>
      Log out
    </ion-button>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>