<app-main-header></app-main-header>
    <ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="9">
                <app-loader *ngIf="showLoader"></app-loader>
                <ion-card [hidden]="showLoader">
                    <ion-card-header>
                        <ion-card-title class="pageTitle">
                            {{discount.name}}
                            <ion-icon name="create" size="small" (click)="editDiscount()" color="primary"
                                class="ion-margin-start" style="cursor : pointer;">
                            </ion-icon>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="3">
                <ion-button expand="block" fill="clear" color="danger" (click)="deleteDiscountConfirm()">
                    <ion-icon class="ion-margin-end" name="trash"></ion-icon>
                    Delete Discount
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
    