<app-main-header></app-main-header>
    <ion-content>
        <app-loader *ngIf="showLoader"></app-loader>
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="8" offset-md="1">
    
                    <p class="pageTitle">Discounts</p>
    
                    <!-- Search bar -->
    
                    <ion-grid [hidden]="showLoader">
                        <ion-row>
                            <ion-col size-md="8" size="12" offset-md="2">
                                <ion-searchbar [(ngModel)]="searchBar" (ionChange)="getItems(searchBar)"
                                    placeholder="Search by discount's Name" type="text">
                                </ion-searchbar>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
    
                    <ion-item>
                        <ion-buttons slot="end">
                            <ion-button (click)="isGrid=true">
                                <ion-icon name="grid"></ion-icon>
                            </ion-button>
                            <ion-button (click)="isGrid=false">
                                <ion-icon name="list"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
    
                    <ion-row *ngIf="isGrid">
                        <!-- Add Discount -->
                        <ion-col size="12" size-md="4" size-xs="6" routerLink="/add-discount">
                            <ion-card class="add-card">
                                <ion-button fill="clear" class="addBtn" size="large">
                                    <ion-icon name="add-circle-outline"></ion-icon>
                                </ion-button>
                                <ion-card-content>
                                    <div class="addProjDetailDiv">
                                        <p class="addProjHeader">New Discount</p>
                                        <p class="projSubHeader">Add another discount</p>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <!-- Discount List -->
                        <ion-col size="12" size-md="4" size-xs="6" *ngFor="let x of discount" (click)="gtDetails(x)"
                            [hidden]="showLoader">
                            <ion-card>
                                <ion-card-content>
                                    <div class="projDetailDiv">
                                        <p class="projHeader">{{x.name}}</p>
                                        <p class="projSubHeader">{{x.timestamp}}</p>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <!-- No Discount -->
                        <ion-col size="12" size-md="4" size-xs="6" [hidden]="showLoader" *ngIf="!discount.length">
                            <ion-card>
                                <ion-card-content>
                                    <div class="projDetailDiv">
                                        <p class="projHeader">No Discount</p>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
    
                    <ion-row *ngIf="!isGrid">
                        <ion-col size="12">
                            <ion-list>
                                <ion-item routerLink="/add-discount" style="cursor: pointer">
                                    <ion-button fill="clear" size="large">
                                        <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
                                        Add Discount
                                    </ion-button>
                                </ion-item>
                                <ion-item *ngFor="let x of discount" (click)="gtDetails(x)" [hidden]="showLoader">
                                    <p class="projHeader">{{x.name}}</p>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
    
    
    
                </ion-col>
    
                <ion-col size="12" size-md="3" class="rightCol">
    
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
    